@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #131313;
    display: flex; /* Adiciona Flexbox ao body */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Garante que o body ocupe toda a altura da viewport */
}

.container {
    border: 1px solid #00000000;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #2f2f2f, #181616);
    background-size: cover;
    width: 430px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.container img {
    margin-top: 15px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7rem;
    margin-bottom: 5px;
}

h2 {
    font-size: 1.0rem;
    margin-bottom: 20px;
    color: greenyellow;
}

p {
    font-size: 1.0rem;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    text-decoration: none;
    padding: 20px 20px
}

ul a { font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 0.9rem;
    padding: 15px 125px;
    margin: 12px 0px;
    display: flex;
    border-radius: 5px;
    background-color: #2f2f2f;
    transition: all 0.3s ease;
}

ul a:hover {
    background-color: #3f3f3f;
    color: greenyellow;
}